<div class="large-10 columns centered">
  <h2>List Item for <%= @list.name %></h2>
  <h4><%= @list_item.name %></h4>
  <p><%= @list_item.description %></p>
  <%= link_to "Edit List Item", edit_list_list_item_path(@list, @list_item), :class => "button" %>
  <%= link_to "Delete List Item", [@list, @list_item], :method => :delete,
                                :confirm => "Are you sure?", :class => "button" %>
</div>